html {
  background-color: maroon;
}
body {
  background-color: #252525;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
  height: 500px;
  width: 350px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header {
  display: flex;
  justify-content: center;
}

.title-text {
  font-size: 45px;
  color: white;
  transition: color 0.5s;
  cursor: pointer;
}

.title-text:hover {
  color: #3ca1d5;
}

.dropdown-div {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;

}

.dropdown-select{
  font-size: 16px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #949596;
  cursor: pointer;
  padding: 2px 25px;
}

.username-div {
  display: flex;
  justify-content: center;
  gap: 16px;
  height: 26px;
}

.userName-input{
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #949596;
  padding: 1px 15px;
}

.submit-button {
  background-color: #fff;
  color: #252525;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #949596;
  padding: 1px 15px;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  cursor: pointer;
}

.submit-button:hover{
  background-color: #3ca1d5;
  color: #fff;
  border-color: transparent;
}
