body {
  background-color: #252525;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.title-text {
  font-size: 45px;
  color: white;
  transition: color 0.5s;
  cursor: pointer;
}

.title-text:hover {
  color: #3ca1d5;
}

.dropdown-div {
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
}

.dropdown-select{
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #949596;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.username-div {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.userName-input{
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #949596;
  padding-left: 20px;
  padding-right: 20px;
}

.submit-button {
  background-color: #fff;
  color: #252525;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #949596;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.submit-button:hover{
  background-color: #3ca1d5;
  color: #fff;
  border-color: transparent;
}
