html {
  background-color: #252525;
}

/* Styling to body of extention */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass';
  width: 350px;
  height: 500px;
  overflow: hidden;
}

#search {
  height: 500px;
}

/* Styles area around title */
.header {
  display: flex;
  justify-content: center;
}

/* Styles title text */
.title-text {
  font-size: 45px;
  color: white;
  transition: color 0.5s;
  cursor: pointer;
}

/* Styles when hovering over title text */
.title-text:hover {
  color: #3ca1d5;
}

/* Styles area around dropdown */
.dropdown {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

/* Styles dropdown contents*/
.dropdown-select{
  background-color: hsl(0, 0%, 20%);
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border: 2px hsl(0, 0%, 20%) solid;
  cursor: pointer;
  padding: 2px 25px;
}

/* Styles when hovering over dropdown */
.dropdown-select:hover {
  background-color: hsl(0, 0%, 30%);
}

/* Styles around username and button area */
.username {
  display: flex;
  justify-content: center;
  gap: 16px;
  height: 26px;
}

/* Styles username input field */
.username input{
  background-color: hsl(0, 0%, 20%);
  color: white;
  border-radius: 8px;
  border: 2px hsl(0, 0%, 20%) solid;
  padding: 1px 15px;
}

/* Styles the placeholder of username input field */
.username input::placeholder{
  color: white;
  opacity: .6;
}

/* Styles when hovering over username input field */
.username input:hover{
  background-color: hsl(0, 0%, 30%);
}

/* Styles button in username div */
button {
  background-color: hsl(0, 0%, 20%);
  color: white;
  border-radius: 8px;
  border: 2px hsl(0, 0%, 20%) solid;
  padding: 0 10px;
  height: 27px;
  cursor: pointer;
}

/* Styles when hovering over button in username div */
.username button:hover{
  background-color: hsl(0, 0%, 30%);
  border-color: hsl(0, 0%, 30%);
}

/* Styles when clicking button in username div */
.username button:active{
  background-color: hsl(0, 0%, 40%);
  border-color: hsl(0, 0%, 40%);
}

button > a {
  all: unset;
}
